html {
    font-size: 1250%;
}

/*body {
    min-width: 320px;
    max-width: 720px;
}*/

body, p, ul, li, ol {
    margin: 0;
    padding: 0;
}

/*ul, li, ol {
    list-style: none;
}*/

/* layout */

header, footer {
    position: fixed;
    /*固定定位*/
    padding: 0.07rem 0.1rem;
    line-height: 0.36rem;
}

header {
    top: 0;
    right: 0;

    left: 0;
    /*height: 0.32rem;*/
}

/*header a {
    color: #fff;
    text-decoration: none;
    font-size: .14rem;
    cursor: pointer;
}*/

header h2 {
    /*padding: 0;*/
    margin: 0 auto;
    /*垂直居中*/
    text-align: center;
    /*水平居中*/
    font-size: .18rem;
}

footer {
    right: 0;
    bottom: 0;
    /*容器都可以指定为Flex布局*/
    left: 0;
    display: flex;
    height: 0.45rem;
}

container {
    position: absolute;
    top: 0.44rem;
    right: 0;
    bottom: 0.65rem;
    left: 0;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    background: #fff;
}

container {
    height: auto;
    font-size: .12rem;
}

/* global */

/*.btn {
    box-sizing: border-box;
    border: none;
    cursor: pointer;
    outline: none;
}*/

.pull-left {
    float: left;
}

/*.pull-right {
    float: right;
}*/

/*25 元/小时的文本颜色*/

.text-important {
    color: #e26163;
}

/*header 的背景颜色和字体颜色*/

header {
    background: #5fc0cd;
    color: #fff;

}

/*a {
    color: #5fc0cd;
}*/

/* module */

.user-section {
    position: relative;
    /*相对定位*/
    height: 1.6rem;
    /*width: 100%;*/
    background: url("images/background.png") no-repeat center;
    /*背景图片地址,no-repeat控制图片只出现一次 center表示图片中心点与元素中心点重合*/
    background-size: cover;
    /*拉大图片,使其完全填满背景区;保持宽高比*/
    /*background-size: contain;缩放图片,使其完全填满背景区;保持宽高比*/
    color: #fff;
    /*元素内的文本颜色*/
}

.user-image {
    position: absolute;
    /*用户图片 与左边界的距离*/
    top: 50%;
    left: 0.15rem;
    /*垂直居中*/
    margin-top: -0.37rem;
    width: 0.74rem;
    border-radius: 50%;
    /*height: 0.74rem;*/
    background: #fff;
    /*圆*/
    /*overflow: hidden;*/
}

.user-image img {
    width: 100%;
    /*height: auto;*/
}

.user-info {
    position: relative;
    top: 50%;
    margin-left: 1.2rem;
    transform: translateY(-50%);
    /*元素垂直居中*/
}

.name {
    font-size: .18rem;
}

p > span {
    padding-left: .1rem;
    font-size: .14rem
}

.location {
    padding: .15rem 0 0 .2rem;
    background: url("images/location.png") no-repeat left .15rem;
    background-size: .12rem;
    font-size: .12rem;
    margin-top: .05rem;
}

/*.user-form {}*/

.title {
    /*margin: -0.05rem 0;*/
    padding-left: .15rem;
    border-bottom: 1px solid #ccc;
    /*height: 0.5rem;*/
    line-height: .5rem;
}

.title span {
    padding: 0 0.15rem 0;
    /*左内边距*/
    border-left: .01rem solid #5fc0cd;
    /*左边框 宽度为0.01rem,左边框样式为实线（solid），颜色为#5fc0cd*/
}

.list {
    padding-left: .3rem;
}

.list li {
    position: relative;
    overflow: auto;
    padding: .1rem .1rem;
    min-height: 0.2rem;
    border-bottom: 1px solid #ccc;
    line-height: .2rem;
}

.tag {
    display: inline-block;
    padding: 0 .1rem 0 .15rem;
    background: url("images/star.png") no-repeat left center;
    background-size: .12rem;
}

.label {
    position: absolute;
    top: 50%;
    /*元素垂直居中*/
    width: 5em;
    border-right: 1px solid #ccc;
    color: #aaa;
    transform: translateY(-50%);
}

.item {
    margin-left: 6em;
}

footer {
    display: flex;
    padding: .1rem;
}

/*子选择符*/

footer > button {
    /*按钮高度*/
    width: 50%;
    height: .45rem;

    flex: 1;
    /*background: #ccc;*/
}

.contact, .message {
    /*鼠标手势*/
    outline: none;
    border: none;
    /*去掉默认的突出轮廓线*/
    border-radius: 5px;
    /*圆角边框(弧形角)*/
    background: #5fc0cd;
    color: #fff;

    font-size: .18rem;
    /*移除边框*/
    cursor: pointer;
}

.message {
    margin-right: .3rem;
    /*右外边距*/
    background: #fff;
    box-shadow: 0 0 0 2px #5fc0cd inset;
    color: #5fc0cd;
    /*盒阴影属性值:水平偏移量 ,垂直偏移量,模糊量,扩展量,颜色,阴影位于边框内部*/
}

/*媒体查询*/

@media screen and (max-width: 500px) {
    html {
        font-size: 750%;
    }
}

/*图片自适应*/
/*display 控制元素是堆叠,并排,还是不出现*/

/*img {
    width: 100%;
    height: auto;
    max-width: 100%;
    display: block;
}*/
