* {
    box-sizing: border-box;
}

/*页面中间内容：包括播放图标、图像、死亡身份展示*/
main {
    width: 100%;
    border-top: 1px solid #74d4eb;
    background-color: #29bde0;
}

.main-top {
    position: relative;
    width: 100%;
    text-align: center;
}

.main-top-music {
    position: absolute;
    top: 2rem;
    right: 3.2rem;
    width: 3.5rem;
    height: 3.5rem;
}

.main-top-photo {
    display: inline-block;
    margin: 5rem auto 1rem auto;
    width: 40%;
}

/*显示死亡玩家身份信息的区域*/
#main-content {
    height: 12rem;
    margin: 0 auto;
    padding: 1rem;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    /*     overflow-y: scroll; */
}

/*页面下部内容：游戏进程、投票按钮*/
.bottom {
    padding: 4% 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid #74d4eb;
    background-color: #29bde0
}

.bottom-step {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 4rem;
    color: white;
    font-size: 1.8rem;
    letter-spacing: 2px;
    background-color: #24a7c6;
    border: none;
}

#gotoVote {
    display: block;
    margin: 0 auto;
    width: 70%;
    height: 4rem;
    color: white;
    font-size: 2rem;
    letter-spacing: 3px;
    background-color: #fbb435;
    border: none;
    cursor: pointer;
}
