/*桌游精灵顶部导航栏公共样式*/
html {
    font-family: "Microsoft Yahei" ;
}

body {
    margin: auto;
    max-width: 640px;
    min-width: 320px;
}

header {
    position: relative;
    /*     width: 40rem; */
    width: 100%;
    height: 4rem;
    /*line-height: 1;*/
    background: #29bde0;
}

.header-left {
    position: absolute;
    top: 1rem;
    left: 2rem;
    cursor: pointer;
}

/*.header-left img {
    height: 2.5rem;
    //只设置img的高度完美解决图片变形
}*/

.header-center {
    text-align: center;
    /*水平居中 */
    font-size: 2rem;
    color: #ffffff;
}

.header-right {
    position: absolute;
    top: 1rem;
    right: 2rem;
    cursor: pointer;
}

/*.header-right img {
    height: 2.5rem;
}*/
