/* * {
    box-sizing: border-box;
}
 */
/*页面主要内容：显示玩家身份牌区域*/
main {
    border: 1px solid #74d4eb;
    background: #29bde0;
    position: absolute;
    width: 40rem;
    bottom: 10rem;
    top: 5rem;
}

.main-box {
    position: relative;
    display: inline-block;
    margin: 5%;
    width: 20%;
    height: 8rem;
    text-align: center;
    border: .3rem solid white;
    cursor: pointer;
}

.main-box-hide {
    width: 100%;
    height: 100%;
    background: url("../img/judge-hide.png") center no-repeat ;
}

.main-box:hover .main-box-open {
    opacity: 1;
    transition: 1s ease;
}

.main-box-open {
    z-index: 99;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 6rem;
    line-height: 6rem;
    text-align: center;
    font-size: 1.8rem;
    background: #f5c97b;
    opacity: 0;
}

.main-box-number {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgba(58, 162, 194, 0.4);
}

/*页面底部：开始游戏按钮*/
/* footer {
    z-index: 100;
    position: fixed;
    bottom: 0;
        padding: 2.5rem 4rem;
    heigth: 8rem;
    width: 32rem;
    background: #29bde0;
    border-top: 1px solid white;
}

#startGame {
    margin: auto;
    width: 100%;
    height: 4rem;
    font-size: 2rem;
    color: white;
    border: none;
    cursor: pointer;
    background: #fbb435;
}
 */
footer {
    height: 10rem;
    line-height: 10rem;
    background: #29bde0;
    width: 40rem;
    position: absolute;
    bottom: 0;
    text-align: center;
}

button {
    margin: .5rem auto;
    height: 4rem;
    line-height: 4rem;
    background: #fbb435;
    border: none;
    width: 60%;
    font-size: 2rem;
    color: white;
}

@media screen and (max-width: 639px) {
    html {
        font-size:90%;
    }
}
@media screen and (max-width: 425px) {
    html {
        font-size:70%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size:50%;
    }
}
