/*页面主要内容样式*/
main {
    top: 5rem;
    bottom: 5rem;
    background: #29bde0;
}

.main-top {
    margin: 0 auto;
    width: 100%;
    position: relative;
    font-size: 1.5em;
    background: #29bde0;
}

.main-top-word {
    padding: 1rem .5rem ;
    color: #464646;
    background: #b9e9f5;
}

.main-top-word button {
    position: absolute;
    top: .5rem;
    right: 1rem;
    border: none;
    cursor: pointer;
    background: transparent;
}

.main-top-word img {
    width: 2.5rem;
    height: 2.5rem;
    /*     vertical-align:center; */
}

.main-top-triangle {
    margin-left: 10%;
    width: 0;
    height: 0;
    border-color: #b9e9f5 transparent transparent transparent;
    border-width: 0.5rem;
    border-style: solid;
}

.main-top p {
    margin: 0 10%;
    color: #ffffff;
}

#main-content {
    /*     overflow-y: scroll; */
    margin: 0 auto;
    background-color: #29bde0;
    height: 45rem;
}

.main-content-part {
    float: left;
    overflow: hidden;
    margin: 5% 0 0 6%;
    width: 25%;
    text-align: center;
    font-size: 1.5rem;
}

.main-content-part-role {
    box-sizing: border-box;
}

.main-content-part-role-name {
    padding: 25% 0;
    font-size: 1.3rem;
    background: #f5c97b;
    border: 3px solid white;
    border-bottom: none;
    cursor: pointer;
}

.main-content-part-role-num {
    margin: 0;
    padding: 2.5%;
    color: white;
    background: #83b09a;
    border: 3px solid white;
    border-top: none;
}

footer {
    position: absolute;
    bottom: 0;
    width: 40rem;
    text-align: center;
    background: #29bde0;
    border-top: 1px solid white;
}

footer button {
    margin: 3rem auto;
    height: 4rem;
    width: 60%;
    color: white;
    font-size: 2rem;
    border: none;
    background: #fbb435;
    cursor: pointer;
}

@media screen and (max-width: 425px) {
    html {
        font-size:90%;
    }
}

@media screen and (max-width: 375px) {
    html {
        font-size:80%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size:70%;
    }
}

/* @media screen and (max-width: 425px) {
    html {
        font-size:80%;
    }
}

 */
