* {
    box-sizing: border-box;
    margin: auto;
}

body {
    position: relative;
    /*重要！保证footer是相对于body位置绝对*/
    height: auto;
    /* 保证页面能撑开浏览器高度时显示正常*/
    height: 100% ;
    /* IE6不支持，IE6要单独配置*/
}

/*页面主要内容：身份牌显示区域、点击按钮*/
main {
    padding: 5rem 13% 0 13%;
    font-size: 2rem;
    border-top: 1px solid #74d4eb;
    background-color: #29bde0;
}

/*身份牌显示区域*/
.main-show {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: #ffedc5;
    border: 5px solid white;
}

#playerNum {
    position: absolute;
    top: -2rem;
    left: 42%;
    width: 4rem;
    height: 4rem;
    line-height: 3.5rem;
    font-weight: bold;
    text-align: center;
    color: #f56b81;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #ffedc5;
}

.main-show-cover {
    display: inline-block;
    padding: 10% 10% 58%;
}

.main-show-cover img {
    width: 100%;
}

.main-show-open {
    display: none;
    margin: 10% 10% 2% 10%;
}

.main-show-open img {
    width: 90%;
}

#playerRole {
    display: none;
    margin: 5% auto;
    width: 100%;
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    color: #29bde0;
}

.main-show-open-warn {
    display: none;
    width: 100%;
    margin: 0;
    padding: 8% 10% 15% 10%;
    text-align: left;
    color: #fca000;
    font-size: 1.6rem;
    font-weight: bold;
    border-top: 1px solid white;
}

/*点击按钮*/
footer {
    background-color: #29bde0;
    text-align: center;
}

#btnShow {
    margin: 5rem auto 3rem;
    width:75%;
    height: 4rem;
    color: white;
    font-size: 2rem;
    background-color: #fbb435;
    border: none;
    cursor: pointer;
}


@media screen and (max-width: 639px) {
    html {
        font-size:90%;
    }
}
@media screen and (max-width: 425px) {
    html {
        font-size:70%;
    }
}

@media screen and (max-width: 320px) {
    html {
        font-size:50%;
    }
}
