* {
    box-sizing: border-box;
}

main {
    width: 100%;
    background: #f0f0f0;
    width: 100%;
    border: 1px solid #c9c9c9;
}

/*显示天数行*/
.content-day {
    position: relative;
    width: 100%;
    height: 4.5rem;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #29bde0;
    border-bottom: 1px solid #c9c9c9;
}

.content-day img {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
}

/*游戏流程部分*/
.content-step {
    position: relative;
    margin-left: 2.5rem;
    padding: 5rem 3rem;
    width: 94%;
    border-left: 2px solid #c9c9c9;
}

.night {
    position: absolute;
    top: 10%;
    left: -5%;
    background: #f0f0f0;
}

.sun {
    position: absolute;
    top:39%;
    left: -5%;
    background: #f0f0f0;
}

.content-step-part {
    position: relative;
    margin-bottom: 2rem;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    color: white;
    font-size: 1.6rem;
    background: #29bde0;
}

.triangle {
    position: absolute;
    top: 1.5rem;
    left: -1.5rem;
    border: .8rem solid;
    border-color: transparent #29bde0 transparent transparent;
}

#start {
    margin-top: 4rem;
    width: 100%;
    height: 5rem;
    font-size: 1.9rem;
    color: white;
    border: none;
    background: #fdbc48;
    cursor: pointer;
}

/*  media query */
@media screen and (max-width: 425px) {
    html {
        font-size:80%;
    }
}
