
/* 初始化标签在所有浏览器中的margin、padding值 */
* {
    margin: 0;
    padding: 0
}

html {
    font-family: "微软雅黑";
}

body {
    background: url("../images/background.png") no-repeat;
}

/*基于 Flexbox 的水平垂直居中解决方案:先给这个待居中元素的父元素设置 display:
flex（在这个例子中是 <body> 元素），再给这个元素自身设置我们再熟悉不
过的 margin: auto（在这个例子中是 <form> 元素）*/
/*body {
  display: flex;
}
 .login {
   margin:auto;
  /*align-self: center;*/
/*单独设置垂直居中
}*/
.login {
    width: 30rem;
    height: 25rem;

    /*基于绝对定位的水平垂直居中解决方案*/
    /*position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);*/

    /*基于视口单位的水平垂直居中解决方案*/
    margin: 50vh auto 0;
    transform: translateY(-50%);

    padding: 0 3rem;

    text-align: center;

    background: #D2D4D9;

}

.title {
    padding: 1.5rem 0;

    color: #0bf;

    font-size: 2rem;
}

.box {
    padding: 1.5rem;

    text-align: left;

    background: white;
}

.separate {
    padding: 0 1rem;

    color: #d1d3d9;
}

input {
    width: 80%;

    color: gray;
    border: none;
    outline: none;

    font: 1rem "微软雅黑";
}
.remind,
.warning {
    visibility: hidden;

    margin: .5rem;

    text-align: left;

    color: red;

    font-size: 1rem;
}
/*input[type=submit]{*/
 button {
    width: 100%;

    margin: 1rem 0 0 1rem;
    padding: 1rem 0;

    cursor: pointer;

    color: white;
    border: 0 none;
    background: #0bf;

    font: 1.5rem "微软雅黑";
}

@media (max-width: 768px) {
    html {
        font-size: 80%;
    }
}
@media (max-width: 425px) {
    html {
        font-size: 50%;
    }
}
