* {
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
    min-width: 320px;
    margin:0;
    padding:0;
}

.all {
    /*max-width: 40rem;*/
    width: 100%;
    margin: 0 auto;
    background: #29bde0;
    font-size: 2rem;
    color: white;
}

.top {
    line-height: 3rem;
}

.top span {
    display: inline-block;
    text-align: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: absolute;
    margin-top: 0.5rem;
}

.menu,
.close {
    margin-top: 1rem;
}

.menu {
    margin-left: 1rem;
}

.close {
    float: right;
    margin-right: 1rem;
}

.vote {
    background: #b9e9f5;
    color: black;
    font-size: 1.5rem;
    padding: 2rem 0;
}

.vote p {
    padding-left: 4rem;
    letter-spacing: 3px;
    width: 60%;
}

.vote span {
    width: 4rem;
}

.play {
    float: right;
    margin-top: -2.8rem;
    margin-right: 1rem;
    overflow: hidden;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
}

.play:hover {
    cursor: pointer;
}

.music {
    margin-top: 1rem;
    margin-left: 1rem;
    opacity: 0;
    cursor: pointer;
}

.three {
    float: right;
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-left: 25px solid white;
    border-bottom: 12px solid transparent;
    margin-top: -1.6rem;
    margin-right: -7rem;
    float: right;
}


/*å¼€å§‹ä¸‰è§’å½¢*/

.click {
    font-size: 1.5rem;
}

.click span {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8.7px 5px 0 5px;
    border-color: #b9e9f5 transparent transparent transparent;
    margin-left: 5rem;
    /*margin-top: rem;*/
    position: absolute;
}

.click p {
    padding-top: 2rem;
    padding-left: 5rem;
}

.many {
    padding-top: 3rem;
}

.one {
    width: 33.33%;
    text-align: center;
    position: relative;
    float: left;
}

.allin {
    width:55%;
    border: 5px solid white;
    margin: 3rem auto;
}

.one-top {
    padding: 20% 0;
    display: block;
    background: #f5c97b;
    color: black;
}

.one-bottom {
    background: #83b09a;
    width: 100%;
    display: block;
    font-size: 1.5rem;
}

.clear {
    clear: both;
}


/*spriteå¼€å§‹*/

.allin:hover .sprite {
    display: block;
}

.sprite {
    display: none;
    position: absolute;
    /*bottom: 2rem;*/
    left: 2.6rem;
    width: 8rem;
    height: 3rem;
    margin-top: 1rem;
}

.sprite .icon1 {
    background-position: 0 0;
}

.sprite span {
    width: 18.39%;
    height: 100%;
    display: inline-block;
    background-image: url(../images/sprite.png);
    background-repeat: no-repeat;
    background-size: 400%;
}

.icon2 {
    background-position: 33.33% 0;
}

.icon3 {
    background-position: 66.67% 0;
}

.icon4 {
    background-position: 100% 0;
}


/*é¡µè„šå¼€å§‹*/

footer {
    /*max-width: 40rem;*/
    min-width: 15rem;
    width: 100%;
    position: fixed;
    text-align: center;
    bottom: 0;
    padding: 2rem 0 3rem 0;
    background: #29bde0;
}

footer a {
    text-decoration: none;
}

footer button {
    padding: 2rem 10rem;
    background: #fbb435;
    border: none;
    color: white;
    cursor: pointer;
    letter-spacing: 0.5rem;
    font-size: 3rem;
}

@media screen and (max-width:587px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width:530px) {
    html {
        font-size: 12px;
    }
}