body {
    margin-right: auto;
    margin-left: auto;
    /*min-width: 17.5rem;
    max-width: 35rem;*/
    width: 100%;
}

a {
    text-decoration: none;
}

.head {
    padding: 1rem 0;
    /*width: 35rem;*/
    background: #29bde0;
}

.head img {
    padding-left: 1rem;
}

.content {
    padding: 2rem 0 4rem 0;
    width: 100%;
    background: #f0f0f0;
    text-align: center;
    font-size: 2rem;
}

.last {
    margin: 0 auto;
    width: 90%;
    border: 1px solid lightgray;
    background: white;
}

.last span {
    width: 100%;
}

.last p {
    margin: 0;
    padding: 2rem 0;
    color: #9a9a9a;
}

.last img {
    float: right;
    margin-top: -4.2rem;
    margin-right: 1rem;
}

.next {
    margin: 0 auto;
    width: 90%;
    background: white;
    vertical-align: center;
    text-align: center;
}

.next-title {
    padding: 1.5rem 0;
    border-bottom: 2px solid #fbb435;
    color: #fbb435;
}

.next-a {
    display: block;
    margin: 0 auto;
    margin-top: 2rem;
    padding: 2rem 8rem;
    width: 22%;
    background: #29bde0;
    color: white;
}

.next-p {
    color: gray;
    font-size: 1.5rem;
}

.nba {
    float: right;
    margin-top: -9.3rem;
    margin-right: 0.5rem;
    width: 0;
    height: 0;
    border-width: 2rem 0 2rem 2rem;
    border-style: solid;
    border-color: transparent transparent transparent #fbb435;
}
.four{
    bottom:0;
    margin: 0 auto;
    width:100%;
    width:7rem;

}

.four span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background: #f0f0f0;
}
.four span:hover{
    background:#29bde0;
}
@media screen and (max-width:610px){
    body{
        width:35rem;
    }
    html{
        font-size: 12px;
    }
}
@media screen and (max-width:540px){
   /* body{
        font-size:1.5rem;
    }*/
    html{
        font-size: 12px;
    }
    img{
        max-width: 1.3rem;
    }
}
