* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

@media screen and (max-width: 640px) {
    html {
        font-size: 40%;
    }

}

img {
    vertical-align: middle;
}

ul {
    list-style-type: none;
}

li {
    display: inline-block;
}

.wrap {
    margin: 0 auto;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
}

.header {
    box-sizing: border-box;
    width: 100%;
    background-color: #29bde0;
    font-size: 0;
}

.wrap {
    background-color: #29bde0;
}

.menu, .close {
    display: inline-block;
    box-sizing: border-box;
    width: 30%;
    vertical-align: middle;
}

.menu {
    padding-left: 3.5%;
}

.close {
    padding-right: 3.5%;
    text-align: right;
}

.header span {
    display: inline-block;
    width: 40%;
    color: #fff;
    vertical-align: middle;
    text-align: center;
    font-size: 3.4rem;
    line-height: 2;
}

.column-top {
    background-color: #b9e9f5;
    font-size: 0;
}

.column-top span {
    display: inline-block;
    box-sizing: border-box;
    padding: 4.5% 6.25%;
    width: 80%;
    color: #464646;
    vertical-align: middle;
    font-size: 2.6rem;
}

.column-top a {
    display: inline-block;
    box-sizing: border-box;
    padding-right: 6.25%;
    width: 20%;
    vertical-align: middle;
    text-align: right;
}

.triangle {
    display: inline-block;
    margin-left: 10%;
    width: 0;
    height: 0;
    border-top: 14px solid #b9e9f5;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.column p {
    padding-left: 11%;
    color: #ffffff;
    font-size: 2.4rem;
    line-height: 2;
}

.main {
    padding-bottom: 30%;
    font-size: 0;
}

.main-cell {
    display: inline-block;
    box-sizing: border-box;
    margin: 3.5% 5% 0;
    width: 23.3%;
}

.box {
    margin-bottom: 10%;
    border: 5px solid #ffffff;
    text-align: center;
}

.professional {
    background-color: #f5c97b;
    color: #565656;
    font-size: 3rem;
    line-height: 3.3;
}

.order {
    background-color: #83b09a;
    color: #e4ede8;
    font-size: 2.2rem;
    line-height: 1.2;
}

.sprite {
    font-size: 0;
}

.sprite li {
    visibility: hidden;
    margin: 0 .5%;
    padding: 12% 0;
    width: 24%;
    height: 0;
    background-color: #fff;
    background-image: url(images/icon.png);
    background-size: 400%;
    background-repeat: no-repeat;
}

.main-cell:hover li {
    visibility: visible;
}

.sprite-2 {
    background-position: 33%;
}

.sprite-3 {
    background-position: 67%;
}

.sprite-4 {
    background-position: 100%;
}

.footer {
    position: fixed;
    bottom: 0;
    box-sizing: border-box;
    min-width: 320px;
    max-width: 640px;
    width: 100%;
    border-top: 1px solid #ffffff;
    background-color: #29bde0;
}

button {
    margin: 6.25% 12.5%;
    width: 75%;
    background-color: #fbb435;
    color: #fff;
    text-align: center;
    font-size: 4rem;
    line-height: 2;
}
