<link rel="stylesheet" href="css/top-router-style/second-stage-router/Page1.css">
<main>
    <div class="log-in">
        <p class="log-title">
            喝我水战后台登陆
        </p>

        <form>
            <div class="input-wrap">
                <img src="images/count.png">
                <input type="text" id="account" class="log-text" placeholder="请输入账号" value="">
            </div>
            <p class="count-check"></p>
            <div class="input-wrap">
                <img src="images/lock.png">
                <input type="password" id="password" class="log-password" placeholder="请输入密码" value="">
            </div>
            <p class="password-check"></p>
        </form>
        <button id="log-in">
            登录
        </button>
    </div>
</main>
<script type="text/javascript" src="task5-js/task5.js"></script>
