<div ng-app="login">
    <div class="page" ng-controller="loginCtrl">
        <div class="main">
            <h1>喝我水站后台登录</h1>
            <form name="loginForm"
                  class="form-horizontal" novalidate>
                <div class="inputBox">
                    <img src="img/task5-user.png">
                    <input type="text"
                           name="userName"
                           ng-model="userName"
                           placeholder="用户名"
                           maxlength="8"
                           ng-minlength="3"
                           pattern="^[A-Za-z]+$"
                           required>
                </div>
                <div class="inputBox">
                    <img src="img/task5-password.png">
                    <input type="password"
                           name="password"
                           ng-model="password"
                           placeholder="密码"
                           maxlength="10"
                           ng-minlength="5"
                           required>
                </div>
            </form>
            <div ng-messages="loginForm.userName.$error" class="showLogin">
                <p ng-message="required">用户名是必须的哦</p>
                <p ng-message="pattern">只能输入英文哦</p>
                <p ng-message="minlength">用户名最少3位哦</p>
            </div>
            <div ng-messages="loginForm.password.$error" class="showPwd">
                <p ng-message="required">请输入密码呀</p>
                <p ng-message="minlength">密码最少5位呀</p>
            </div>
            <button id="signIn">登录</button>
        </div>
    </div>
</div>
