html,body{
	margin: 0px;
	height: 100%;
	padding: 0px;
}

body{
	width: 100vw;
	height: 100vw;
	
	margin: auto 0;
}
li{
	list-style:none;
	background-color: orange;
	width: 30vw;
	height: 30vw;
	
	margin: 0.5vw;
	float: left;
	border-radius: 10px;
	text-align: center;
}
