html {
    font: 62.5% "Microsoft Yahei", serif;
    /*规则一：必须声明 font-size 和 font-family 的值。
    规则二：所有值必须按如下顺序声明。
    1. font-weight、font-style、font-variant 不分先后；
    2. 然后是 font-size；
    3. 最后是 font-family。*/
}

body {
    font-size: 16px;
    margin: 0 auto;
}


/*去除是有按钮的边框和轮廓*/

button {
    border: none;
    outline: none;
    /*CSS的outline属性是用来设置一个或多个单独的轮廓属性的简写属性，
    例如 outline-style, outline-width 和 outline-color。 多数情况下，简写属性更加可取和便捷。
    轮廓与边框在以下几个方面存在不同：
    轮廓不占据空间，它们被描绘于内容之上
    轮廓可以是非矩形的。在Gecko/Firefox中，轮廓是矩形的，但是Opera则会围绕元素结构绘制非矩形的形状，如下图*/
}

li {
    list-style-type: none;
}


/*去除所有超链接的下划线*/

a:hover {
    text-decoration: none;
    /*cursor: pointer;*/
}

input[type="text"] {
    outline: none;
}

select {
    outline: none;
}

input[type="radio"] {
    display: none;
}


/*main {
    padding-bottom: 54px;
}*/


/*顶栏的样式*/

header {
    width: 100%;
    height: 40px;
    background-color: #1d7ad9;
}

.header-left {
    display: inline-block;
    /*padding-left: 2px;*/
    line-height: 40px;
    font-size: 14px;
    color: #fff;
}


/*@media screen and (max-width:767px) {
    .header-left {
        display: none;
    }
}*/

.header-right {
    float: right;
    display: inline-block;
    font-size: 0;
}


/*登录和注册按钮的字体大小*/

.login, .registered {
    height: 40px;
    font-size: 14px;
    width: 48px;
    background-color: #1d7ad9;
    color: #fff;
}

.login {
    border-left: solid 1px #fff;
}

.registered {
    width: 60px;
    color: #333;
    background-color: #fff;
}


/* 紧邻同胞选择符+
标签 1 + 标签 2
标签 2 必须紧跟在其同胞标签 1 的后面。*/

.login:hover+.registered {
    width: 56px;
    color: #fff;
    background-color: #1d7ad9;
}

.login:hover {
    width: 60px;
    color: #333;
    background-color: #fff;
}

.main-nav {
    background-color: #f9f9f9;
}

.nav-button-wrap {
    display: inline-block;
    width: 100%;
    text-align: right;
}

.nav-button {
    margin-top: 28px;
    margin-bottom: 28px;
    padding: 0 17px;
    height: 47px;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
    vertical-align: middle;
}


/*正常状态下,按钮背景为白色,文字黑色*/

.nav-button-wrap>button {
    color: black;
    margin-left: 5%;
}


/*悬停在按钮之上,按钮背景为蓝色,文字变为白色*/

.nav-button-wrap>button:hover {
    background: #1d7ad9;
    color: #fff;
    text-decoration: none;
}

@media screen and (max-width:500px) {
    .nav-button {
        width: 20%;
        font-size: 14px;
        padding-left: 0;
        padding-right: 0;
    }
    .button-left-margin {
        margin-left: 2%;
    }
}

.step-group {
    position: relative;
    height: 144px;
    width: 100%;
    margin-bottom: 0;
    font-size: 0;
    padding-left: 0;
}

.step-list {
    position: absolute;
    display: inline-block;
    width: 14%;
    height: 45px;
    margin-top: 28px;
    margin-bottom: 28px;
    font-size: 0;
}

.sbsolute-1 {
    right: 41%;
    margin-right: -0.5%
}

.sbsolute-2 {
    right: 27.5%;
    margin-right: -0.5%
}

.sbsolute-3 {
    right: 14%;
    margin-right: -0.5%
}

.sbsolute-4 {
    right: 0;
}

@media screen and (max-width:768px) {
    .step-list {
        width: 23%;
    }
    .sbsolute-1 {
        right: 67.4%;
        margin-right: -0.5%;
    }
    .sbsolute-2 {
        right: 45.1%;
        margin-right: -0.5%
    }
    .sbsolute-3 {
        right: 22.8%;
        margin-right: -0.5%
    }
    .sbsolute-4 {
        right: 0;
    }
}

.line {
    position: absolute;
    display: inline-block;
    margin: 20px 0;
    width: 100%;
    height: 5px;
    background-color: #ccc;
    border-radius: 3px;
}

.mumber-ground {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -10px;
    margin-top: -10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    border-radius: 50%;
    background-color: #ccc;
}

.curr-line, .curr-mumber-ground, .step-list:hover .line, .step-list:hover .line .mumber-ground {
    background-color: #ff7f02;
    z-index: 1;
}

.step-words {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -48px;
    bottom: -22px;
    height: 18px;
    line-height: 18px;
    font-size: 18px;
    color: #ccc;
}

.curr-step-words, .step-list:hover .step-words {
    color: #ff7f02;
}

@media screen and (max-width:399px) {
    .step-words {
        font-size: 12px;
        margin-left: -30px;
    }
}

.select-tittle {
    display: inline-block;
    margin: 16px 0;
    height: 22px;
    line-height: 22px;
    font-size: 0;
}

.tittle-blue-line {
    display: inline-block;
    margin: 0;
    width: 4px;
    height: 22px;
    background-color: #1d7ad9;
    border-radius: 2px;
    vertical-align: bottom;
}

.select-tip {
    display: inline-block;
    padding-left: 16px;
    font-size: 22px;
    vertical-align: bottom;
}

@media screen and (max-width:520px) {
    .select-tip {
        font-size: 17px;
    }
}

.step-tittle {
    margin: 0;
    padding-left: 22px;
    padding-top: 13px;
    padding-bottom: 14px;
    line-height: 18px;
    font-size: 0;
    background-color: #f2f2f2;
}

.img-step-tittle {
    margin-right: 10px;
    width: 20px;
    vertical-align: middle;
}

.step-tittle-words {
    display: inline-block;
    font-size: 18px;
    vertical-align: middle;
    color: #1d7ad9;
}

.input-group {
    box-sizing: border-box;
    width: 100%;
    padding-left: 52px;
    padding-right: 0;
    padding-top: 30px;
    padding-bottom: 30px;
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
}

.input-wrap {
    position: relative;
    display: inline-block;
}

.input[type="radio"] {
    display: none;
}

.input-radio-lable {
    position: relative;
}

.input-radio-lable::before {
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: 50%;
    margin-top: -10px;
    display: inline-block;
    content: "\2022";
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-size: 16px;
    color: #f8f9fb;
    border-radius: 9px;
    border: 1px solid #d6d6d6;
    background-color: #f8f9fb;
}

.input-wrap input[type="radio"]:checked+.input-radio-lable:before {
    background-color: #1d7ad9;
    border: none;
}

.input-radio-lable {
    margin-bottom: 0;
    margin-right: 60px;
    /*position: relative;*/
    display: inline-block;
    line-height: 34px;
    height: 35px;
    font-size: 0;
    cursor: pointer;
}

.radio-lable-words {
    display: inline-block;
    padding-left: 25px;
    font-size: 18px;
    vertical-align: middle;
    font-weight: 500;
    color: #666;
}

@media screen and (max-width:991px) {
    .radio-lable-words {
        font-size: 17px;
    }
}

select {
    /*ChromeºÍFirefoxÀïÃæµÄ±ß¿òÊÇ²»Ò»ÑùµÄ£¬ËùÒÔ¸´Ð´ÁËÒ»ÏÂ*/
    border: solid 1px #ccc;
    /*ºÜ¹Ø¼ü£º½«Ä¬ÈÏµÄselectÑ¡Ôñ¿òÑùÊ½Çå³ý*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    /*ÔÚÑ¡Ôñ¿òµÄ×îÓÒ²àÖÐ¼äÏÔÊ¾Ð¡¼ýÍ·Í¼Æ¬*/
    background: url("images/select-arrow.png") no-repeat scroll right center transparent;
    /*ÎªÏÂÀ­Ð¡¼ýÍ·Áô³öÒ»µãÎ»ÖÃ£¬±ÜÃâ±»ÎÄ×Ö¸²¸Ç*/
    padding-right: 14px;
    width: 90px;
}


/*Çå³ýieµÄÄ¬ÈÏÑ¡Ôñ¿òÑùÊ½Çå³ý£¬Òþ²ØÏÂÀ­¼ýÍ·*/

select::-ms-expand {
    display: none;
}

.select-wrap {
    position: absolute;
    top: 50%;
    right: 10px;
    margin-top: -15px;
}

@media screen and (max-width:599px) and (min-width: 321px) {
    .input-wrap {
        display: block;
    }
    .select-wrap {
        top: 36px;
        margin-top: 0;
    }
}

@media screen and (max-width:320px) {
    .select-wrap {
        right: 0px;
    }
}

.border-both {
    border-left: solid 1px #e8e8e8;
    border-right: solid 1px #e8e8e8;
}

.border-both-around {
    border: solid 1px #e8e8e8;
}

.step2-1-wrap {
    display: inline-block;
    margin-bottom: 22px;
}

.vertiacl-mid {
    vertical-align: middle;
}

.input-text-wrap {
    display: inline-block;
    margin-right: 60px;
    font-size: 18px;
    vertical-align: middle;
}

.input-text {
    height: 30px;
    width: 70px;
}

@media screen and (max-width:991px) {
    .input-text-wrap {
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .select-wrap {
        top: 36px;
        margin-top: 0;
    }
}

.img-fix {
    height: 22px;
    width: auto;
}

.step-3-wrap {
    padding-right: 50px;
}

.border-top-none {
    border-right: solid 1px #e8e8e8;
    border-left: solid 1px #e8e8e8;
    border-bottom: solid 1px #e8e8e8;
}

.main-button {
    position: relative;
    padding: 16% 0;
    height: 100px;
    line-height: 100px;
    text-align: center;
}

.next-step {
    position: absolute;
    top: 50%;
    margin-top: -23px;
    left: 50%;
    margin-left: -90px;
    width: 180px;
    height: 46px;
    line-height: 46px;
    font-size: 25px;
    color: #fff;
    border-radius: 10px;
    background-color: #e15053;
}

.footer-info {
    margin-top: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    /*padding: 65px auto;*/
    color: #999;
    background-color: #f9f9f9;
}

.info-left {
    font-size: 15px;
    color: #c3c3c3;
    padding-bottom: 15px;
}

.info-mid {
    padding-left: 6.5%;
}

.info-link {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 45px;
    line-height: 25px;
    font-size: 14px;
}

.info-link a {
    color: #999;
}

.info-link a:hover {
    color: #1d7ad9;
}

.info-right {
    position: relative;
    padding-left: 10%;
}

.contact-wrap {
    display: inline-block;
    vertical-align: top;
}

.left-contact {
    height: 25px;
    font-size: 14px;
}

.contact-margin {
    margin-top: -2px;
}

.img-weixin {
    vertical-align: top;
    margin-left: 30px;
    margin-top: -8px;
}

.icp {
    display: inline-block;
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    text-align: center;
    color: #fff;
    background-color: #1d7ad9;
}
