/*页面主要内容：玩家配比显示、词组、玩家人数设置*/

main {
  padding: 1rem;

  background: #f0f0f0;
}


/*玩家配比显示部分*/

.main-top {
  width: 100%;
  height: 26rem;
  margin-bottom: 1rem;

  background: white;
}

.main-top-left {
  display: inline-block;

  width: 20%;
  height: 100%;
  padding: 8rem 8%;

  vertical-align: top;

  border-right: 1px solid #d9d9d9;

  font-size: 2rem;
}

.main-top-right {
  display: inline-block;

  width: 79%;
  height: 100%;

  vertical-align: center;
}

#set {
  overflow: auto;

  width: 100%;
  height: 85%;
  margin: 0;
  /*滚动条*/

  list-style-type: none;

  background: #fbfbfb;
}

#set li {
  display: inline-block;

  width: 50%;
  padding: .5rem 0;

  color: #999;

  font-size: 1.5rem;
}


/* 玩家身份前不同颜色 */

#set li span {
  display: inline-block;

  margin: .5rem 0;
  padding: .5rem;

  vertical-align: middle;

  background: #fab344;
}

#set li i {
  display: inline-block;

  margin: 1.3rem 0;
  padding: .5rem;

  vertical-align: middle;

  background: #29bde0;
}

#get {
  /*点击设置*/
  width: 100%;
  height: 15%;

  cursor: pointer;

  color: #29bde0;
  border: none;
  border-top: 1px solid #d9d9d9;
  background: #fbfbfb;

  font-size: 1.8rem;
}

.main-top-right i {
  display: inline-block;

  width: .8rem;
  height: .8rem;

  background-image: url("../image/setting-pencil.png");
}


/*词组设置部分*/

.main-phrase {
  padding: 1% 5% 3%;

  background: #fff;
}

.phrase {
  margin-top: 2%;
  padding: 2%;

  color: #d7d7d7;
  border-bottom: 2px solid #f0f0f0;

  font-size: 1.5rem;
}


/*玩家人数设置*/

.main-bottom {
  width: 100%;
  margin-top: .5rem;
  padding: 3%;

  background: #fff;

  font-size: 1.5rem;
}

.main-bottom input {
  width: 3.5rem;
  margin: 0 0.8rem;

  text-align: center;

  color: #fab344;
  border: none;
  background: #f4f5f5;

  font-size: 2rem;
}

.main-bottom-range {
  width: 100%;
  margin: 6% auto;

  text-align: center;
}

.main-bottom-range button {
  cursor: pointer;

  border: none;
}

.main-bottom-range input {
  display: inline-block;

  vertical-align: middle;
}


/*  滑竿样式*/

input[type=range] {
  width: 70%;
  height: 0.2rem;
  /*   滑竿宽度   */
  margin: 0 1rem;
  /*  滑杠也要移除默认样式    */

  outline: none;
  /* 滑杆高度     */
  background: #fcc671;

  -webkit-appearance: none;
  -moz-appearance: none;
  /*   去除轮廓   */
}


/* 滑块样式 */

input[type=range]::-webkit-slider-thumb {
  width: 62px;
  height: 38px;

  cursor: pointer;

  background: url("../image/setting-range.png");
  /*  滑块图片    */

  -webkit-appearance: none;
  -moz-appearance: none;
  /*  滑块也要移除默认样式    */
}


/* 减少玩家人数 */

#sub {
  display: inline-block;

  width: 28px;
  height: 28px;

  vertical-align: middle;

  background: url("../image/subtract.png");
}


/*增加玩家人数  */

#add {
  display: inline-block;

  width: 28px;
  height: 28px;

  vertical-align: middle;

  background: url("../image/add.png");
}


/*底部"去发牌"按钮*/

footer {
  width: 100%;
  padding: 0 1rem 1.5rem 1rem;

  background: #f0f0f0;
}

footer>button {
  width: 100%;
  height: 5rem;

  cursor: pointer;

  color: white;
  border: none;
  background: #fab344;

  font-size: 2rem;
}

@media screen and (max-width: 580px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 520px) {
  html {
    font-size: 70%;
  }
}

@media screen and (max-width: 450px) {
  html {
    font-size: 60%;
  }
}
