html {
    font-size: 625%;
}

body {
    margin: 0;
}
$color: #fff #eff0f4 #5fc0cd #5bb7c3;

header {
    padding: 0.14rem 0.2rem;
    height: 0.64rem;
    line-height: 0.64rem;

    a {
        /*头部的 <header>注册,关闭的超链接<a>的样式*/
        /*字体颜色*/
        color: nth($color,1);
        font-size: 0.32rem;
        /*字体尺寸*/
    }

    h2 {
        /*头部的 登陆标题<h2>的样式*/
        padding: 0;
        margin: 0 auto;
        text-align: center;
        font-size: 0.36rem;
    }
}

main {
    position: absolute;
    /*相对定位*/
    top: 0.92rem;
    bottom: 0;
    left: 0;
    right: 0;
    -webkit-overflow-scrolling: touch;
    background: nth($color,2);
}

.content {
    height: auto;
    font-size: 0.24rem;
}

.btn {
    border: none;
    /*没有边框*/
    cursor: pointer;
    /*光标呈现为指示链接的指针（一只手）*/
    outline: none;
    /*去掉默认的轮廓线*/
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.btn,
header {
    background: nth($color,3);
    color: nth($color,1);
}

.btn:hover {
    background: nth($color,4);
}

.input-row {
    margin: 0.2rem 0 0;
    width: 100%;
    background: nth($color,1);

    input {
        /*给输入框旁边添加样式*/
        box-sizing: border-box;
        /*使用 CSS3 的 box-sizing 属性切换盒子缩放方式，给 input 添加边框和内边距都不会增大盒子，相反会导致内容变窄。*/
        padding-left: 1.2rem;
        width: 100%;
        border: 0 none;
        font-size: 0.28rem;
        line-height: 1rem;
        outline: none;
    }

    input[type=text] {
        /*给密码输入框旁边添加小图标*/
        background: url("icon_mobile.png") no-repeat;
        background-size: 1.18rem 1rem;
    }

    input[type=password] {
        /*给密码输入框旁边添加小图标*/
        background: url("icon_pwd.png") no-repeat;
        background-size: 1.18rem 1rem;
    }
}

.btn-login {
    margin-top: 0.69rem;
    width: 100%;
    line-height: 1rem;
    font-size: 0.32rem;
}

.forget-password {
    padding-right: 1em;
}
/*忘记密码的 超链接标签<a>的样式*/
a {
    color: nth($color,3);
    /*字体颜色*/
    text-decoration: none;
    /*去掉下划线*/
}
