* {
    padding: 0;
    margin: 0 auto;
}
/*在CSS中对元素进行水平居中:
如果它是一个行内元素,就对它的父元素应用:text-align:center;
如果它是一个块级元素,就对它应用margin:auto.*/
body {
    font-family: "helvetica", "Lucida Console", "Monaco", "Menlo", Courier;
    margin: auto;
}

.wrapper {
    margin: auto;
    background: black;
    width: 14rem;
}

.cir {
    position: relative;
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: #444;
    display: block;
    margin: 2rem;
    transition: background-color .5s;
}

.btns {
    margin: 1rem auto;
    text-align: center;
}

.color-red {
    background:red;
}

.color-yellow {
    background: yellow;
}

.color-green {
    background: green;
}

time {
    display: block;
    position: relative;
    font-size: 4rem;
    color: #444;
    text-align: center;
}

footer {
    border-top: 1px dashed;
    /*margin: 2.5rem auto;*/
    background: #3c763d;
    color: #DDD;
    text-align: center;
}

footer > a {
    color: purple;
    font: bold italic small-caps 1rem helvetica, arial, sans-serif;
}
/*font 属性是一个简写属性
规则一: 必须声明font-size 和font-family 的值.
规则二: 所有值必须按如下所需声明.
1. font-weight, font-style,font-variant 不分先后;
2. 然后是 font-size;
3. 最后是 font-family*/
